*{
    font-family: Arial, Helvetica, sans-serif;


}


li {
    text-decoration: none;
    list-style-type: none

}
.body{
    margin: 0;
    padding:0;


}
.containerBody {
    background-image: url(imagens/F1.jpg);
    overflow: hidden;
    background-size: cover;

}
.container{
    display: flex;
    width: 80%;
    margin:auto;

}
.header{
    border-bottom: 3px solid #32b9cd;
}
.header.container{
    justify-content: space-between;
}
.titulo{
    color: red;
    font-weight: 700;
    width: 30%;
}
.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    list-style: none;
    justify-content: end;

}
.navbar li, .navbar a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    
}
.banner{
    background-size: cover;
}
.banner .container{
height: 300px;
justify-content: center;
align-items: center;
color:black;
}
.social{
    background-color: transparent;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxsHamilton{
   display: flex;
   align-items: center; 
   flex-direction: row-reverse;
}
.boxsSenna{
    display: flex;
    align-items: left; 
}
.boxs li, .boxs a{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color:black;
    text-decoration: none;
    padding: 20%;
}
.boxs h4{
    display: flex;
}
.box li, .box a{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color:black;
    text-decoration: none;
    padding: 20%;
}
.boxs h4{
    display: flex;
}

.boxsHamilton img {
    width: 50%;
    height: 50%;
}

.boxsSenna img {
    width: 50%;
    height: 50%;
}

