*{
    font-family: Arial, Helvetica, sans-serif;
}

.body{
     margin: 0;
    padding:0;
}
.container{
    display: flex;
    width: 80%;
    margin:auto;
}
.header{
    background-color:white;
    border-bottom: 3px solid #32b9cd;
}
.header.container{
    justify-content: space-between;
}
.titulo{
    color: red;
    font-weight: 700;
}
.navbar{
    display: flex;
    width: 280px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
}
.navbar li, .navbar a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}
.banner{
    background-image: url(/imagens/transferir.png);
    background-size: cover;
}
.banner .container{
height: 300px;
justify-content: center;
align-items: center;
color:black;
}
.social{
    background-color: white;
}
.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxs{
   display: flex;
   align-items: center; 
   flex-direction: row-reverse;
}
.box{
    display: flex;
    align-items: left; 
}
.boxs li, .boxs a{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color:black;
    text-decoration: none;
    padding: 20%;
}
.boxs h4{
    display: flex;
}
.box li, .box a{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    color:black;
    text-decoration: none;
    padding: 20%;
}
.boxs h4{
    display: flex;
}